
* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 35%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 65%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input{
    display:block;
    height: 60px;
    width: 100%;
    background:#ffffff;
    color: lightblue;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
    border: 3px solid #ccc;
}

button{
    background: #3b4a6b;
    color: white;
    font-size: 26px;
    border: none;
    margin: 10px;
}



/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
button:focus {
    /* outline: none; */
    border: 3px solid #555;
    background: darkblue;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: lightblue;

}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
